body{
    font-family: 'Bubblegum Sans', cursive;
    background-color: #eae2b7;
    color: #d62828;
}

h1{
    margin: 0;
    margin-bottom: 30px;
    font-size: 75px;
    text-align: center;
}

.restart{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 40px;
    margin-bottom: 30px;
    background-color: #003049;
    color: #d62828;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    transition: background-color 0.25s;
}

.restart:hover{
    cursor: pointer;
    background-color: #004a71;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBoard{
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    justify-content: center;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 130px;
    color: #003049;
    padding: 10px;
    border: 3px solid #d62828;
}

.one.cell{
    border-top: none;
}

.three.cell{
    border-bottom: none;
}
 
.cell:nth-of-type(3n + 1){
    border-left: none;
} 

.cell:nth-of-type(3n + 3){
    border-right: none;
}

.toggleClick{
    pointer-events: none;
}

.winnerText{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.winningCombo{
    background-color: #e5da9d;
}

@media (max-width: 390px){
    .cell{
        font-size: 80px;
        width: 70px;
        height: 70px;
    }

    h1{
        font-size: 50px;
    }

    .winnerText{
        font-size: 40px;
    }
}